html
    head
        link(rel='stylesheet', href='styles/styles.css', type='text/css')
        title  Super Sprinter 3000
    body
        h1 Add new User Story:
    form(id="addForm" method="post" action="/added")
        p Story title:
        input(name="storyTitle" type="text" minlength="5" required)
        p User Story:
        textarea(name="userStory" cols="30", rows="10" required)
        p Acceptance criteria:
        textarea(name="criteria" cols="30", rows="10" required)
        p Business value:
        input(name="value" type="number" min="100" max="1500" step="100")
        p Estimation:
        input(name="estimation" type="number" min="0.5" max="40" step="0.5")
        button(type="submit" id="addStory") Add User Story!