html
  head
    title  Super Sprinter 3000
    link(rel='stylesheet', href='styles/styles.css', type='text/css')
  body
    h1 Welcome to Super Sprinter 3000! 
    button(id="add") Add new User Story
    table
      tr
        th id 
        th Story title
        th(class="longRecord") User Story
        th(class="longRecord") Acceptance Criteria
        th Business value
        th Estimation
        th Status
      



