h1 {
    color: aliceblue;
    padding-left: 30%;
    padding-top: 3%;
}
body {
    background-image: url(../images/car.jpg);
    background-size: cover;
}

button#add {
    margin-left: 10%;
    margin-top: 5%;
    width: 10%;
    height: 15%;
    opacity: 0.5;
}

button#add:hover {
    cursor: pointer;
    opacity: 1.0;
}

table {
    width: 100%;
}

th.longRecord {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
}

th,td {
    padding: 3%;
    color: azure;
    background: black;
    opacity: 0.7;
}

td.longRecord {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
}

button.edit {
    width: 20px;
    height: 20px;
    margin: 4px;
    
}

button.edit{
    background-image: url(../images/edit.png);
    background-size: cover;
}


button.edit:hover  {
    cursor: pointer;
}

p {
    color: aliceblue;
}

form#addForm {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    width: 50%;
}

button#addStory {
    width: 20%;
    margin-top: 5%;
    height: 10%;
    margin-left: 40%;
}

button#addStory:hover {
    cursor: pointer;
    
}

